<form action="/recipes" method="post">
  <label>
    Name
    <input type="text" name="name" >
  </label>
  <label>
    Ingredients
    <input type="text" name="ingredients" >
  </label>
  <label>
    Cook Time
    <input type="number" name="cook_time" > minutes
  </label>
  <input type="submit" value="Add Recipe">
</form>
